  <div class="col-sm-12 container">
    <div class="page-header text-center">
      <h1>The secret of life, the universe, and everything</h1>
    </div>
    <div class="flex-container">
      <img src="/img/birthday_card.jpg" class="img-responsive" alt="Responsive image">
    </div>
    <div class="text-center">
      <h3>Your fortune for the day:</h3>
      <blockquote>{{fortune}}</blockquote>
      <button type="button" class="btn btn-lg btn-primary life-button">Click Me!</button>
      <div id="life">
      </div>
      {{> home-link}}
    </div>
  <footer class="flex-container">
      <span class="copyright">This site and it's contents are &copy; Valentina Studio 2016</span>
  </footer>
</div>
