<div class="col-sm-12 container">
  <div class="page-header text-center">
    <h1>Much birth! So many life!!</h1>
  </div>
    <div class="jumbotron">
      <div class="container flex-container">
        <p><a class="btn btn-lg btn-primary" href="/birthday" role="button">Go To Card</a></p>
      </div> <!-- /container -->
    </div>
</div>
<footer class="flex-container">
    <span class="copyright">This site and it's contents are &copy; Valentina Studio 2016</span>
</footer>
